src/main/java/entity/aircraftSchema.xsd

<?xml version="1.0"?>

<sch:schema xmlns:sch="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.example.com/aircraft"
            xmlns="http://www.example.com/aircraft">
    <sch:include schemaLocation="aircraftsType.xsd" />
    <sch:element name="aircrafts" type="stListType"/>

    <sch:complexType name="stListType">
        <sch:sequence>
            <sch:element name="aircraft" type="aircraftsType" minOccurs="1" maxOccurs="unbounded"/>
        </sch:sequence>
    </sch:complexType>
</sch:schema>



